{% extends 'base.html' %}
{% load static %}

{% block title %} 
Курсы
{% endblock %}

{% block content %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'main_page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
{% if not user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  {% else %}
	<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'courses' %}">
      <span style="font-weight: bold;">Курсы</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
  {% endif %}
</ul>
<style type="text/css">
    body {
        background: url("{% static 'images/g.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
    
    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0,1); /* Белый фон с прозрачностью 40% */
        z-index: -1;
    }
    main {
        padding: 20px;
        position: relative;
        z-index: 1;
        text-align: left; /* Выравнивание текста по левому краю */
    }
    
    section {
        margin: 20px 0;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: white;
        text-align: left; /* Выравнивание текста по левому краю */
    }
    h2 {
		font-size: 2em; /* Увеличиваем размер заголовка */
		margin-bottom: 20px; /* Отступ снизу */
		color: #333; /* Цвет заголовка */
	}
    
    ul {
        list-style-type: none; /* Убираем стандартные маркеры списка */
        padding: 0;
    }
    
    ul li {
        margin-bottom: 15px; /* Отступ между элементами списка */
        font-size: 1.2em; /* Увеличиваем размер текста */
        line-height: 1.5; /* Увеличиваем межстрочный интервал */
    }
    
    ul li a {
        text-decoration: none; /* Убираем подчеркивание ссылок */
        color: #007BFF; /* Цвет ссылок */
        font-weight: bold; /* Жирный текст для ссылок */
    }
    
    ul li a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
        color: #0056b3; /* Более темный оттенок синего при наведении */
    }
    
    button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }
</style>
<main>
	<h1 style="font-size: 2.5em; color: #1642a0; margin-top: 40px; margin-bottom: 20px;">Курсы по социальной инженерии</h1>
	<h3 style="font-size: 1.2em; line-height: 1.8; color: #34495e;">
		Добро пожаловать на курсы по социальной инженерии! Здесь вы сможете узнать о различных методах социальной инженерии, их последствиях и способах защиты от них.
	<h3 style="font-size: 2em; color: #1642a0;; margin-top: 40px; margin-bottom: 20px;">Выберите интересующий вас курс из списка ниже:</h3>
	<ul style="font-size: 1.2em; line-height: 1.8; color: #2c3e50; margin-left: 20px;">
		<li style="margin-bottom: 10px;"><a href="http://127.0.0.1:8000/quiz/first/" style="color: #2980b9; text-decoration: none; font-weight: bold;">Курс 1: Основы социальной инженерии</a></li>
		<li style="margin-bottom: 10px;"><a href="http://127.0.0.1:8000/quiz/second/" style="color: #2980b9; text-decoration: none; font-weight: bold;">Курс 2: Фишинг и его виды</a></li>
		<li style="margin-bottom: 10px;"><a href="http://127.0.0.1:8000/quiz/third/" style="color: #2980b9; text-decoration: none; font-weight: bold;">Курс 3: Методы социальной инженерии</a></li>
		<li style="margin-bottom: 10px;"><a href="http://127.0.0.1:8000/quiz/fourth/" style="color: #2980b9; text-decoration: none; font-weight: bold;">Курс 4: Защита от социальной инженерии</a></li>
	</ul>
</main>
<!-- <ul>
    {% for quiz in quizzes %}
        <li>
            <a href="{% url 'quiz' quiz.id %}">{{ quiz.title }}</a>
        </li>
    {% endfor %}
</ul> -->
{% endblock %}